<!--<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Students</h2>
      <app-students-grid></app-students-grid>
    </div>
    <div class="col-sm-4">
      <h2>Courses</h2>
      <app-course-grid></app-course-grid>
    </div>
    <div class="col-sm-4">
      <h2>Grades</h2>
      <app-grade-grid></app-grade-grid>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <h1>Roster</h1>
      <app-roster-table></app-roster-table>
    </div>
  </div>
</div>-->

{{students | json}}