<div class="row">
  <div class="col-md-12">
    <h2>Add a Student</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="container">
        <div class="form-group row" [ngClass]="{'has-danger': (firstname.touched || firstname.dirty) && firstname.errors }">
          <label class="col-sm-2 col-form-label">First name:</label>
          <div class="col-sm-8">
            <input class="form-control" [(ngModel)]="student.first" name="first" required #firstname="ngModel">
            <small class="form-control-feedback" *ngIf="firstname.errors?.required && firstname.touched">
              First name is required
            </small>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-danger': (lastname.touched || lastname.dirty) && lastname.errors }">
          <label class="col-sm-2 col-form-label">
            Last Name:
          </label>
          <div class="col-sm-8">
            <input class="form-control" [(ngModel)]="student.last" name="last" required #lastname="ngModel">
            <small class="form-control-feedback" *ngIf="lastname.errors?.required && lastname.touched">
              Last name is required
            </small>
          </div>
        </div>
        <div clas="form-group row">
          <!--<div class="form-group">-->
          <label class="col-sm-2 col-form-label">Age:</label>
          <div class="col-sm-2">
            <input class="form-control" [(ngModel)]="student.age" name="age" type="number" min="18" max="30">
          </div>
          <!--</div>-->
          <!--<div class="form-group">-->
          <label class="col-sm-4 col-form-label"> Year:</label>
          <div class="col-sm-2">
            <input class="form-control" [(ngModel)]="student.gradYear" name="gradYear" type="number" min="2010" max="2050">
          </div>
          <!--</div>-->
        </div>
        <div class="form-group row" [ngClass]="{'has-danger': (email.touched || email.dirty) && email.errors }">
          <label class="col-sm-2 col-form-label">
            Email:
          </label>
          <div class="col-sm-8">
            <input class="form-control" [(ngModel)]="student.email" name="email" type="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+">
            <small class="form-control-feedback" *ngIf="email.errors?.pattern && email.touched">
              Email address is invalid.
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">
            Street Address:
          </label>
          <div class="col-sm-4">
            <input class="form-control" [(ngModel)]="student.address" name="address">
          </div>

          <label class="col-sm-1 col-form-label">
            City:
          </label>
          <div class="col-sm-4">
            <input class="form-control" [(ngModel)]="student.city" name="city">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">
            State:

          </label>
          <div class="col-sm-4">

            <select class="form-control" [(ngModel)]="student.state" name="state">
              <option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</option>
            </select>
          </div>
          <label class="col-sm-2 col-form-label">
            Zip Code:
          </label>
          <div class="col-sm-4">

            <input class="form-control" [(ngModel)]="student.zip" name="zip">
          </div>

        </div>
        <button type="submit" [disabled]="f.pristine || !f.valid" class="btn btn-success">
          Save
        </button> &nbsp; {{ f.controls.email?.errors | json }}
      </div>
    </form>
  </div>
</div>