<md-card>
<div class="row ">
  <div class="col-md-1 offset-md-11">
     <button  md-mini-fab role="button" class="table-add" (click)="createNewStudent()"><md-icon>add</md-icon></button>
  </div>
</div>
<br>
  <data-table [dataset]=students [columns]=columns [saveCallback]="saveCallback" (saveRow)="update($event)" (deleteRow)="delete($event)">
  </data-table>
<div class="row">
  <div class="col-md-12">
     
    <!--<table class="table">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Age</th>
        <th>Email</th>
        <th>Graduation Year</th>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" (change)="update(student)">-->
          <!--<app-student #comp [student] ="student" (change)="comp.update(student)" ></app-student>-->
          <!--<td>
            <app-inline-edit [(ngModel)]="student.first" typeof="text"></app-inline-edit>
          </td>
          <td>
            <app-inline-edit [(ngModel)]="student.last" typeof="text"></app-inline-edit>
          </td>
          <td>
            <app-inline-edit [(ngModel)]="student.address" typeof="text"></app-inline-edit>
          </td>
          <td>
            <app-inline-edit [(ngModel)]="student.city" typeof="text"></app-inline-edit>
          </td>
          <td>
            <app-inline-edit [(ngModel)]="student.state" typeof="text"></app-inline-edit>
          </td>
          <td>
            <app-inline-edit [(ngModel)]="student.zip" typeof="number"></app-inline-edit>
          </td>
          <td>
            <app-inline-edit [(ngModel)]="student.age" typeof="number"></app-inline-edit>
          </td>
          <td>
            <app-inline-edit [(ngModel)]="student.email" typeof="email"></app-inline-edit>
          </td>
          <td>
            <app-inline-edit [(ngModel)]="student.gradYear" typeof="number"></app-inline-edit>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</md-card>-->