<td><app-inline-edit [(ngModel)]="student.first" typeof="text"></app-inline-edit></td>
<td><app-inline-edit [(ngModel)]="student.last" typeof="text"></app-inline-edit></td>
<td><app-inline-edit [(ngModel)]="student.address" typeof="text"></app-inline-edit></td>
<td><app-inline-edit [(ngModel)]="student.city" typeof="text"></app-inline-edit></td>
<td><app-inline-edit [(ngModel)]="student.state" typeof="text"></app-inline-edit></td>
<td><app-inline-edit [(ngModel)]="student.zip" typeof="number"></app-inline-edit></td>
<td><app-inline-edit [(ngModel)]="student.age" typeof="number"></app-inline-edit></td>
<td><app-inline-edit [(ngModel)]="student.email" typeof="email"></app-inline-edit></td>
<td><app-inline-edit [(ngModel)]="student.gradYear" typeof="number"></app-inline-edit></td>