<td *ngFor="let column of columns">
  <data-tables-cell [column]="column"  (value)="row[column.property]" (valueChanged)="row[column.property] = $event" typeof="text" [editing]="editing_row" (editBegin)="editBegin()" (editDone)="editDone()"></data-tables-cell>
</td>
<!--<td *ngFor="let column of columns">{{row[column.value]}}</td>-->
<td>
  <span [hidden]="editing_row">
          <i class="icon material-icons md-36" title="edit" (click)="editing_row=true">mode_edit</i>
        </span>
  <span [hidden]="editing_row">
          <i class="icon material-icons md-36" title="delete" (click)="deleteRowHandler()">delete</i>
        </span>
  <span [hidden]="!editing_row">
          <i class="icon material-icons md-36" title="Save" (click)="editDone()">save</i>
        </span>
  <span [hidden]="!editing_row">
          <i class="icon material-icons md-36" title="cancel" (click)="editCancel()">clear</i>
        </span>
</td>